{% extends 'base.html.twig' %}

{% block title %}Complete{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="display-4">
                        {% if reservation == true %}
                            Reservation Complete
                        {% elseif customer.state == 'current'%}
                            Session in progress
                        {% else %}
                            Reservation Already Made
                        {% endif %}
                    </h1>
                    <p class="lead">
                        Your Serial Code: <b>{{ customer.reservationCode }}</b>
                        <br>
                        Your Appointment Time: <b>{{ customer.appointmentTime|date('Y-m-d H:i:s') }}</b> <br>
                        Time Left until your appointment: <b>{{ customer.TimeBeforeAppointment }} </b>
                    </p>
                    <div class="btn-group" role="group">
                        <a href="{{ path('app_cancel_visit', {'email': customer.email}) }}" class="btn btn-danger">Cancel Visit</a>
                        <a href="{{ path('app_print_pdf', {'email': customer.email}) }}" class="btn btn-primary">Download PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
