
{% extends 'base.html.twig' %}

{% block title %}Complete{% endblock %}

{% block body %}

{% if error is defined %}
    <h2 color='red'>{{error}}</h2>
{% endif %}
<div class="container-fluid rounded">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="text-center">
                <h1>Home</h1>
            </div>
            <div class="text-end">
                <a href="{{ path('app_homepage') }}" class="btn btn-default" role="button">Home</a>
                <a href="{{ path('app_specialist_logout') }}" class="btn btn-default" role="button">Logout</a>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <table class="table table-striped table-bordered border-rounded">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Reservation Code</th>
                <th>Reservation Time</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in pager %}
                <tr>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.reservationCode }}</td>
                    <td>{{ customer.appointmentTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ customer.state }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="{{ path('app_management', {'command': 'current', 'id': customer.id}) }}" class="btn btn-primary">In Progress</a>
                            <a href="{{ path('app_management', {'command': 'finished', 'id': customer.id}) }}" class="btn btn-success">Finish Appointment</a>
                            <a href="{{ path('app_management', {'command': 'canceled', 'id': customer.id}) }}" class="btn btn-danger">Cancel</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    {{ pagerfanta(pager) }}
</div>




{% endblock %}